In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
PATH = "/Users/depalma/Desktop/CPSC222/A-Data/"
DS1 = "country.csv"
DS2 = "country_complete.csv"
fin1 = PATH + DS1
fin2 = PATH + DS2

country = pd.read_csv(fin1)     #specifies the column headers
country_comp = pd.read_csv(fin2)

#country.info()  #returns data types for columns
country

,Country,Continent,SurfaceArea,Population,Density,IndependenceDate,OfficialLanguage,Percentage
0,China,Asia,9572900,1277558000,133,1949-10-01,Mandarin,0.81
1,Bangladesh,Asia,143998,129155000,897,1905-05-24,Bengali,0.98
2,Brazil,South America,8547403,170115000,20,1822-09-07,Portuguese,0.98
3,India,Asia,3287263,1013662000,308,1905-04-30,Hindi,0.40
4,Norway,Europe,385207,5379000,14,1905-05-17,Norwegian,0.97
5,United States,North America,9363520,278357000,30,1776-07-04,English,0.86

In [2]:
#Pandas Aggregation Functions
count = int(country["Country"].count())
print(count)
mean = float(country["Population"].mean())
median = int(country["Density"].median())
min = country["Population"].min() 
print(min)
#also std, var, prod, sum for columns in data frames

6
5379000

In [13]:
#Next several cells will illustrate Pandas GroupBy functions
#Group by splits dataframe into subsets based on values in columns--here A, B, C

df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

print((df.key,df.data))

(0    A
1    B
2    C
3    A
4    B
5    C
Name: key, dtype: object, 0    0
1    1
2    2
3    3
4    4
5    5
Name: data, dtype: int64)

In [9]:
#Returns a group by object,just waiting for an aggregation function to be applied
#Group by splits dataframe into subsets based on values in columns--here A, B, C

x = df.groupby('key')
for item in x:
    print(item)

('A',   key  data
0   A     0
3   A     3)
('B',   key  data
1   B     1
4   B     4)
('C',   key  data
2   C     2
5   C     5)

In [ ]:
df.groupby('key').sum()   #i.e, sum over A, B, C

In [ ]:
for item in df.groupby('key'):
    print(item)  #there are two rows with each key

In [ ]:
df.groupby('key').aggregate(['min', 'median', 'max'])

In [ ]:
#Another example, slightly more complex

rng = np.random.RandomState(0)  #set seed value
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},       #produce 6 randome integers in [0..10]
                  
                   columns = ['key', 'data1', 'data2'])
df

In [ ]:
#Now lets aggregate: reduce each group to a anmuber

df.groupby('key').aggregate(['min', 'median', 'max'])

In [ ]:
#Now Group0by and aggregating on a more complex dataframe

In [ ]:
country

In [ ]:
country.groupby('Continent')["Density"].max()  #gives the max density for each continent

In [ ]:
#Now a more complex dataset

In [ ]:
country_comp

In [ ]:
country_comp.groupby('Continent')['Years'].mean()  #mean formal education

In [ ]:
#Pivot Table extracts from an original table a column with respect to  other columens
## Ex. What is the average years of education of each continent
#It produces exactly what group by produces but in a dataframe which can then be manipulated.  

pt = country_comp.pivot_table(
    values = 'Years', index = 'Continent', aggfunc='mean')
pt

In [ ]:

float(pt['Years'].max())

In [ ]:
#This can be more complex.  Suppose we want by aggregate by fertility, too
pt1 = country_comp.pivot_table(
    values = ['Years','Fertility'], index = 'Continent', aggfunc='mean')
pt1

In [ ]:
#This allows us to sort on internet access
country_comp['Internet access'] = country_comp['Internet access'].astype('category')
country_comp['Internet access'] = country_comp['Internet access'].cat.reorder_categories(
    ['Low', 'Moderate', 'High', 'Very high'])


'''
country.pivot_table(
    values='Years', index='Continent', columns='Internet access', aggfunc=np.size
)
'''
print(country_comp)
country_comp = country_comp.sort_values('Internet access')
country_comp

In [ ]:
# Which 7 countries in the Americas have low Internet access?
country_comp[(country_comp['Continent'] == 'Americas') & (country_comp['Internet access'] == 'Low')]

In [ ]:
# Display the average of each feature by continent

#country_comp.groupby(by=["Continent"]).mean()

country_comp.mean(numeric_only=True)

In [ ]:
# Display the median of each feature

country.groupby(by=["Continent"]).median()

In [ ]:
#now by continent
country.groupby("Continent").mean(numeric_only=True)

In [ ]:
# Display the number of countries in the dataset
# for each continent

country.groupby(by=["Continent"]).size()

In [ ]:
# Use describe on each feature for each continent

country.groupby(by=["Continent"]).describe()

In [ ]:
# Display a subset of the data above using .agg()

country.groupby("Continent").agg(
    min_Emissions=pd.NamedAgg(column="Emissions", aggfunc="min"),
    max_Emissions=pd.NamedAgg(column="Emissions", aggfunc="max"),
    mean_Emissions=pd.NamedAgg(column="Emissions", aggfunc=np.mean),
)